<mat-checkbox [formControl]="form.controls.known"
              [indeterminate]="form.controls.known.value === null"
              class="compact">
  Connu
</mat-checkbox>

@if (showPrepared()) {
  @if (form.controls.alwaysPrepared.value) {
    <mat-checkbox class="compact" checked disabled>Préparé</mat-checkbox>
  } @else {
    <mat-checkbox [formControl]="form.controls.prepared"
                  [indeterminate]="form.controls.prepared.value === null"
                  class="compact">
      Préparé
    </mat-checkbox>
  }
}

<mat-checkbox [formControl]="form.controls.favorite"
              [indeterminate]="form.controls.favorite.value === null"
              class="compact">
  Favori
</mat-checkbox>

@if (showPrepared()) {
  <button mat-icon-button [matMenuTriggerFor]="spellMenu" style="margin-right: -8px">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #spellMenu="matMenu">
    <mat-checkbox [formControl]="form.controls.alwaysPrepared"
                  [indeterminate]="form.controls.alwaysPrepared.value === null"
                  style="margin-right: 8px">
      Toujours préparé
    </mat-checkbox>
  </mat-menu>
}
