<mat-checkbox [formControl]="form.controls.known" class="compact">Connu</mat-checkbox>
@if (form.controls.alwaysPrepared.value) {
  <mat-checkbox class="compact" checked disabled>Préparé</mat-checkbox>
} @else {
  <mat-checkbox [formControl]="form.controls.prepared" class="compact">Préparé</mat-checkbox>
}
<mat-checkbox [formControl]="form.controls.favorite" class="compact">Favori</mat-checkbox>
<div style="margin-right: -4px; flex-grow: 1"></div>
<button mat-icon-button [matMenuTriggerFor]="spellMenu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #spellMenu="matMenu">
  <mat-checkbox [formControl]="form.controls.alwaysPrepared" style="margin-right: 8px">
    Toujours préparé
  </mat-checkbox>
</mat-menu>
