<div style="display: flex; flex-direction: column; align-items: center; max-width: 360px; margin: auto">
  <h2>Modifier le personnage</h2>

  <app-character-header-form [formControl]="form"
                             style="align-self: stretch"
  ></app-character-header-form>

  <button type="button" mat-flat-button color="primary" [disabled]="form.invalid" (click)="save()"
          style="margin-top: 16px">
    <mat-icon>done</mat-icon>
    Sauvegarder
  </button>

  <button type="button" mat-button color="warn" (click)="delete()" style="margin-top: 40px">
    <mat-icon>close</mat-icon>
    Supprimer
  </button>
</div>
