<app-character-card [character]="preview()" style="margin-bottom: 20px"></app-character-card>

<mat-form-field>
  <mat-label>Nom</mat-label>
  <input matInput type="text" autocomplete="off" [formControl]="form.controls.name">
</mat-form-field>

<mat-form-field>
  <mat-label>Classe</mat-label>
  <mat-select [formControl]="form.controls.class">
    @for (cls of characterClasses; track $index) {
      <mat-option [value]="cls">{{ cls }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>PV max</mat-label>
  <input matInput type="number" autocomplete="off" [formControl]="form.controls.hpMax">
</mat-form-field>

<p style="margin: 0; display: flex; align-items: center; gap: 4px">
  <mat-slide-toggle [formControl]="form.controls.mustPrepareSpells"></mat-slide-toggle>
  <span>Doit préparer ses sorts</span>
</p>

<p style="margin-bottom: 0">Thème</p>
<mat-slider [max]="100" [min]="0" [step]="1" style="margin-bottom: 8px">
  <input matSliderThumb [formControl]="form.controls.theme">
</mat-slider>

<p style="margin-bottom: 0">Image</p>
<app-profile-picture-form [formControl]="form.controls.image"
                          style="margin: 8px 0 16px"
></app-profile-picture-form>

<h2 class="section-header">
  <mat-icon>flare</mat-icon>
  <span>Pouvoirs</span>
</h2>

@if (creationAid()) {
  <p class="creation-aid">
    Capacités ou objets ayant un certain nombre d'utilisations par jour. Vous pourrez les modifier plus tard.
  </p>
}

<app-character-abilities-form [formControl]="form.controls.abilities"></app-character-abilities-form>

<h2 class="section-header">
  <mat-icon>menu_book</mat-icon>
  <span>Emplacements de sorts</span>
</h2>

<div style="display: flex; justify-content: space-between; margin-bottom: 12px">
  @for (lvl of [0, 1, 2, 3, 4]; track $index) {
    <div style="display: flex; flex-direction: column; align-items: center">
      <span style="font-size: 0.9em">Niveau {{ lvl }}</span>
      <app-tiny-number-choice-form [formControl]="form.controls.spellSlots.controls[lvl]"
                                   [min]="0"
      ></app-tiny-number-choice-form>
    </div>
  }
</div>

<div style="display: flex; justify-content: space-between; margin-bottom: 12px">
  @for (lvl of [5, 6, 7, 8, 9]; track $index) {
    <div style="display: flex; flex-direction: column; align-items: center">
      <span style="font-size: 0.8em">Niveau {{ lvl }}</span>
      <app-tiny-number-choice-form [formControl]="form.controls.spellSlots.controls[lvl]"
                                   [min]="0"
      ></app-tiny-number-choice-form>
    </div>
  }
</div>
