mat-nav-list {
  padding: 0 8px;

  .mdc-list-item {
    padding-left: 8px;
    padding-right: 8px;
  }

  .mdc-list-group__subheader {
    margin: 1rem 8px 0.2rem;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-title {
  flex-grow: 1;
  overflow: auto;
  cursor: pointer;
}

app-icon-book.main-icon {
  cursor: pointer;
  margin: 0 2px 0 -2px;
}

@media (max-width: 340px) {
  .main-title {
    font-size: 16px;
  }
}
