<span>{{ title() }}</span>
<ng-content></ng-content>

<div class="ornament top-left">
  <ng-container *ngTemplateOutlet="ornament"></ng-container>
</div>
<div class="ornament top-right">
  <ng-container *ngTemplateOutlet="ornament"></ng-container>
</div>
<div class="ornament bottom-left">
  <ng-container *ngTemplateOutlet="ornament"></ng-container>
</div>
<div class="ornament bottom-right">
  <ng-container *ngTemplateOutlet="ornament"></ng-container>
</div>
@if (level() >= 8) {
  <div class="ornament top">
    <ng-container *ngTemplateOutlet="middleOrnament"></ng-container>
  </div>
  <div class="ornament bottom">
    <ng-container *ngTemplateOutlet="middleOrnament"></ng-container>
  </div>
}

<ng-template #ornament>
  <svg width="96" height="22" viewBox="0 0 768 176">
    <defs id="defs1">
      <linearGradient id="gemLinearGradient">
        <stop id="stop1" style="stop-color:#ffffff" offset="0.10"/>
        <stop id="stop2" [style.stop-color]="'color-mix(in oklab, ' + gemColor() + ' 70%, #000 30%)'" offset="0.12"/>
        <stop id="stop3" [style.stop-color]="gemColor()" offset="0.6"/>
        <stop id="stop4" style="stop-color:#ffffff" offset="1"/>
      </linearGradient>
      <radialGradient
        id="gemRadialGradient"
        xlink:href="#gemLinearGradient"
        cx="79"
        cy="75"
        fx="79"
        fy="75"
        r="18"
        gradientTransform="matrix(1.05,-0.7,1.27,1.89,-98,-11)"
        gradientUnits="userSpaceOnUse"
      />
      <radialGradient
        xlink:href="#gemLinearGradient"
        id="gemRadialGradient2"
        cx="193"
        cy="30"
        fx="193"
        fy="30"
        r="24"
        gradientUnits="userSpaceOnUse"
      />
    </defs>
    <path
      id="corner"
      style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
      d="m 14,14 28,0 c -6,10 -6,13 -5,23 -10,-1 -13,-1 -23,5 z"
    />
    @if (level() >= 1) {
      <path
        id="curl-start-1"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 77,28 c 8,2 6,17 -4,15 C 63,42 60,32 63,25 68,15 84,5 107,16"
      />
      <path
        id="curl-start-2"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 28,77 c 2,8 17,6 15,-4 C 42,63 32,60 25,63 15,68 5,84 16,107"
      />
    }
    @if (level() >= 2) {
      <path
        id="curve-s-1"
        style="fill:none;stroke:currentColor;stroke-width:5.39999;stroke-linecap:round;stroke-linejoin:round"
        d="m 65,7 c -20,8 -18,33 -16,42 2,9 7,24 6,35 -1,11 -10,18 -19,11"
      />
      <path
        id="curve-s-2"
        style="fill:none;stroke:currentColor;stroke-width:5.4;stroke-linecap:round;stroke-linejoin:round"
        d="m 7,65 c 8,-20 33,-18 42,-16 9,2 24,7 35,6 11,-1 18,-10 11,-19"
      />
    }
    @if (level() >= 3) {
      <path
        id="lobe"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 71,55 c 24,15 20,36 20,36 0,0 -24,4 -36,-20"
      />
    }
    @if (level() >= 4) {
      <path
        id="curl-mid-1"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 72,15 c 16,-5 34,19 48,20 14,1 24,-4 25,-14 1,-10 -8,-16 -17,-11"
      />
      <path
        id="curl-mid-2"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 15,72 c -5,16 19,34 20,48 1,14 -4,24 -14,25 -10,1 -16,-8 -11,-17"
      />
    }
    @if (level() >= 5) {
      <path
        id="curl-end-1"
        style="fill:none;stroke:currentColor;stroke-width:5;stroke-linecap:round;stroke-linejoin:round"
        d="m 121,35 c 29,0 31,-16 53,-15"
      />
      <path
        id="curl-end-2"
        style="fill:none;stroke:currentColor;stroke-width:5;stroke-linecap:round;stroke-linejoin:round"
        d="m 35,121 c 0,29 -16,31 -15,50"
      />
      <path
        id="gem"
        style="fill:url(#gemRadialGradient);stroke:#000000;stroke-width:1;stroke-opacity:0.5"
        d="m 53,53 c 0,0 13,-2 25,11 13,13 10,25 10,25 0,0 -14,2 -26,-10 C 52,66 53,53 53,53 Z"
      />
    }
    @if (level() >= 6) {
      <path
        id="curl-2-start-1"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 187,28 c 8,2 6,17 -4,15 C 173,42 170,32 173,25 178,15 194,5 217,16"
      />
      <path
        id="curl-2-mid-1"
        style="fill:none;stroke:currentColor;stroke-width:5;stroke-linecap:round;stroke-linejoin:round"
        d="m 182,15 c 16,-5 34,19 48,20 14,1 24,-4 25,-14 1,-10 -8,-16 -17,-11"
      />
      <path
        id="curl-2-end-1"
        style="fill:none;stroke:currentColor;stroke-width:4;stroke-linecap:round;stroke-linejoin:round"
        d="m 231,35 c 29,0 31,-16 53,-15"
      />
    }
    @if (level() >= 7) {
      <circle
        style="fill:none;stroke:currentColor;stroke-width:11"
        id="gem2-brace"
        cy="33"
        cx="187"
        r="16"
      />
      <circle
        style="fill:url(#gemRadialGradient2);stroke:#000000;stroke-width:1;stroke-opacity:0.5"
        id="gem2"
        cy="33"
        cx="187"
        r="16"
      />
      <path
        id="curl-2-end-1b"
        style="fill:none;stroke:currentColor;stroke-width:4;stroke-linecap:round;stroke-linejoin:round"
        d="m 265,15 c 4,-4 4,-4 4,-8"
      />
      <path
        id="curl-2-end-1c"
        style="fill:none;stroke:currentColor;stroke-width:5;stroke-linecap:round;stroke-linejoin:round"
        d="m 292,12 c 15,-8 45,20 60,5"
      />
      <path
        id="curl-2-end-1c"
        style="fill:none;stroke:currentColor;stroke-width:5;stroke-linecap:round;stroke-linejoin:round"
        d="m 272,35 c 12,5 48,-15 48,5 0,15 -18,12 -20,5"
      />
    }
  </svg>
</ng-template>

<ng-template #middleOrnament>
  <svg width="96" height="22" viewBox="0 0 768 176">
    <defs id="defs1">
      <linearGradient id="gemLinearGradientMid">
        <stop id="stop1" style="stop-color:#ffffff" offset="0.10"/>
        <stop id="stop2" [style.stop-color]="'color-mix(in oklab, ' + gemColor() + ' 70%, #000 30%)'" offset="0.12"/>
        <stop id="stop3" [style.stop-color]="gemColor()" offset="0.6"/>
        <stop id="stop4" style="stop-color:#ffffff" offset="1"/>
      </linearGradient>
      <radialGradient
        xlink:href="#gemLinearGradientMid"
        id="gemRadialGradientMid"
        cx="392"
        cy="36"
        fx="392"
        fy="36"
        r="34"
        gradientUnits="userSpaceOnUse"
      />
    </defs>
    <circle
      style="fill:currentColor"
      id="dot-mid"
      cy="34"
      cx="384"
      r="12"
    />
    <path
      id="curl-mid-1-d"
      style="fill:none;stroke:currentColor;stroke-width:8;stroke-linecap:round;stroke-linejoin:round"
      d="m 432,40 c 32,-20 68,30 96,30 28,2 48,-8 50,-28 2,-20 -20,-32 -34,-15"
    />
    <path
      id="curl-mid-2-d"
      style="fill:none;stroke:currentColor;stroke-width:10;stroke-linecap:round;stroke-linejoin:round"
      d="m 432,40 c 32,-20 60,35 60,40"
    />
    <path
      id="curl-mid-1-g"
      style="fill:none;stroke:currentColor;stroke-width:7;stroke-linecap:round;stroke-linejoin:round"
      d="m 336,40 c -32,-20 -68,30 -96,30 -28,2 -48,-8 -50,-28 -2,-20 20,-32 34,-15"
    />
    <path
      id="curl-mid-2-g"
      style="fill:none;stroke:currentColor;stroke-width:10;stroke-linecap:round;stroke-linejoin:round"
      d="m 336,40 c -32,-20 -60,35 -60,40"
    />
    @if (level() >= 9) {
      <circle
        style="fill:none;stroke:currentColor;stroke-width:14"
        id="gem-mid-brace"
        cy="40"
        cx="384"
        r="24"
      />
      <circle
        style="fill:url(#gemRadialGradientMid);stroke:#000000;stroke-width:1;stroke-opacity:0.5"
        id="gem-mid"
        cy="40"
        cx="384"
        r="24"
      />
      <path
        id="curl-mid-3-d"
        style="fill:none;stroke:currentColor;stroke-width:8;stroke-linecap:round;stroke-linejoin:round"
        d="m 515,85 c 10,10 30,12 40,10"
      />
      <path
        id="curl-mid-3-g"
        style="fill:none;stroke:currentColor;stroke-width:8;stroke-linecap:round;stroke-linejoin:round"
        d="m 253,85 c -10,10 -30,12 -40,10"
      />
      <path
        id="curl-mid-4-d"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 555,82 c 10,0 25,-5 35,-12"
      />
      <path
        id="curl-mid-4-g"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 213,82 c -10,0 -25,-5 -35,-12"
      />
      <path
        id="curl-mid-5-d"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 586,59 c 5,-3 10,-10 12,-15"
      />
      <path
        id="curl-mid-5-g"
        style="fill:none;stroke:currentColor;stroke-width:6;stroke-linecap:round;stroke-linejoin:round"
        d="m 182,59 c -5,-3 -10,-10 -12,-15"
      />
    }
  </svg>
</ng-template>
