:host {
  font-size: 1.5em;
  font-weight: bold;

  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: end;

  background: var(--mat-toolbar-container-background-color, var(--mat-sys-surface));
  color: var(--mat-toolbar-container-text-color, var(--mat-sys-on-surface));
  border-top: 1px solid var(--jdr-background-color);

  padding: 8px 16px;
  margin: 0 -16px;

  & > span {
    flex-grow: 1;
  }
}

.ornament {
  position: absolute;
  height: 22px;
  width: 96px;
  color: var(--jdr-ornament-color);
  pointer-events: none;

  &.top-left {
    top: 0;
    left: 0;
  }

  &.top-right {
    top: 0;
    right: 0;
    transform: scaleX(-1);
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
    transform: scaleX(-1) scaleY(-1);
  }

  &.top {
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  &.bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleY(-1);
  }
}
