@let char = character();

@if (char.image) {
  <!--suppress AngularNgOptimizedImage -->
  <img class="char-image" [src]="char.image" alt="Image de {{ char.name }}" width="48" height="48">
} @else {
  <div class="char-image" style="flex: 0 0 48px; height: 48px"></div>
}
<span style="font-weight: bold; font-size: 1.4em">{{ char.name }}</span>

<span style="flex-grow: 1"></span>

<mat-icon>favorite</mat-icon>
<div style="margin: 0 4px 0 -4px">
  <span style="font-weight: bold">{{ char.hp }}</span>
  <span> / {{ char.hpMax }}</span>
  @if (char.hpTemp) {
    <span style="opacity: 0.5">+{{ char.hpTemp }}</span>
  }
</div>
