:host {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 4px;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
}

.char-image {
  border-radius: 4px;
}

div.char-image {
  background-color: #88888844;
}
