@let sp = spell();

@if (isOpen()) {

  <div class="spell-open">
    <div class="spell-header" (click)="isOpen.set(false)">
      <h3>{{ sp.name }}</h3>
    </div>

    <!--<p>Niveau {{ sp.level }} - {{ sp.school }}</p>-->

    <!--<p>-->
    <!--  <span class="key">Temps d'incantation : </span>-->
    <!--  <span>{{ sp.incantation }}</span>-->
    <!--</p>-->

    <div class="spell-details" [innerHTML]="sp.details"></div>

    <p class="additional">
      <span class="key">Classes : </span>
      @for (cl of sp.classes; track cl; let last = $last) {
        <span>{{ cl + (last ? '' : ', ') }}</span>
      }
    </p>

    <p class="additional">
      <span class="key">Source : </span>
      <span>{{ sp.source }}</span>
    </p>

    <p class="additional">
      <span class="key">VO : </span>
      <span>{{ sp.vo }}</span>
    </p>
  </div>

} @else {

  <div class="spell-closed">
    <div class="spell-header" (click)="isOpen.set(true)">
      <h3>{{ sp.name }}</h3>
    </div>
    <p class="additional" style="margin: 0">{{ sp.description }}</p>
  </div>
}
