.spell-open {
  padding: 12px 0 24px;

  & > p {
    margin: 4px 0 0;
  }

  .key {
    font-weight: bold;
  }
}

.spell-closed {
  padding: 12px 0 0;
}

.spell-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  min-height: 24px;

  h3 {
    margin: 0;
    flex-grow: 1;
  }
}

.additional {
  opacity: 0.5;
}

:host ::ng-deep {
  .spell-details {
    h1, .trad, .source, .classe, .tcoe {
      display: none;
    }

    .ecole, .t, .r, .c, .d {
      margin-top: 4px;
    }

    .description {
      margin: 16px 0;
    }

    br + strong {
      display: inline-block;
      margin-top: 8px;
    }

    table {
      margin-top: 12px;
      border-spacing: 0;

      tr:nth-child(even) {
        background-color: #88888822;
      }

      th, td {
        min-width: 45px;
        padding: 2px 4px;
        text-align: left;
      }

      td {
        vertical-align: top;
      }
    }
  }
}
