<div style="max-width: 800px; margin: auto">
  <mat-form-field>
    <mat-label>Rechercher</mat-label>
    <input matInput type="text" [formControl]="filterForm.controls.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filtrer par classe</mat-label>
    <mat-select [formControl]="filterForm.controls.classes" multiple>
      @for (cc of characterClasses; track $index) {
        <mat-option [value]="cc">{{ cc }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @let spellsByLevel = availableSpells$ | async;

  @if (spellsByLevel && spellsByLevel.length > 0) {
    @for (spellLevel of spellsByLevel; track spellLevel.level; let first = $first) {
      <h2 class="spell-level-header" [class.first]="first">
        <span>Niveau {{ spellLevel.level }}</span>
        <app-spell-choice-form [formControl]="globalChoices[spellLevel.level]"></app-spell-choice-form>
      </h2>
      @for (spell of spellLevel.spells; track spell.spell.id) {
        <app-spell-card [spell]="spell.spell"></app-spell-card>
        <app-spell-choice-form [formControl]="spell.choice"
                               style="border-bottom: 2px solid #88888888"
        ></app-spell-choice-form>
      }
    }
  }
</div>
