<div style="max-width: 800px; margin: auto">
  @if (character(); as char) {
    <app-character-card [character]="char"></app-character-card>

    <div style="display: flex; justify-content: center; margin-top: 4px">
      <button mat-icon-button aria-label="Diminuer les PV"
              (click)="changeHp('Diminuer les PV', 'Diminuer de', true, false)"
      >
        <mat-icon>heart_minus</mat-icon>
      </button>
      <button mat-icon-button aria-label="Augmenter les PV"
              (click)="changeHp('Augmenter les PV', 'Augmenter de', false, false)"
      >
        <mat-icon>heart_plus</mat-icon>
      </button>
      <button mat-icon-button aria-label="PV temporaires" style="opacity: 0.5"
              (click)="changeHp('Ajuster les PV temporaires', 'PV temporaires', false, true)"
      >
        <mat-icon>relax</mat-icon>
      </button>
    </div>

    <h2 class="section-header">
      <mat-icon>flare</mat-icon>
      <span>Pouvoirs</span>
    </h2>

    @for (ability of char.abilities; track ability.id) {
      <app-ability-card [ability]="ability" style="margin: 16px 0"></app-ability-card>
    }

    <h2 class="section-header">
      <mat-icon>menu_book</mat-icon>
      <span>Sorts</span>
    </h2>

    @for (spellLevel of availableSpells(); track spellLevel.level; let first=$first) {
      <h2 class="spell-level-header" [class.first]="first">
        <span>Niveau {{ spellLevel.level }}</span>
        <app-slots-form [maxSlots]="spellLevel.slots"></app-slots-form>
      </h2>
      @for (spell of spellLevel.spells; track spell.id) {
        <app-spell-card [spell]="spell"></app-spell-card>
      }
    }
  } @else {
    <p>Personnage non trouvé</p>
  }
</div>
