:host {
  display: block;
  padding: 16px 16px 48px;
  overflow-x: hidden;
}

h2.section-header {
  display: flex;
  align-items: center;
  margin: 32px 0 16px;

  > mat-icon:first-child {
    margin-right: 8px;
  }
}

h2.spell-level-header {
  display: flex;
  align-items: center;

  background: var(--mat-toolbar-container-background-color, var(--mat-sys-surface));
  color: var(--mat-toolbar-container-text-color, var(--mat-sys-on-surface));
  padding: 8px;
  margin: 64px -8px 0;

  &.first {
    margin-top: 12px;
  }

  & > span {
    flex-grow: 1;
  }
}

.concentrating app-spell-card.concentration {
  opacity: 0.3;
}

.filter-active {
  background: radial-gradient(circle, var(--mat-sys-surface-variant) 60%, transparent 70%);
}

.filter-inactive {
  opacity: 0.3;
}
