div.mid-container {
  max-width: 800px;
  margin: auto;
  padding: 16px 16px 48px;
}

h2.section-header {
  display: flex;
  align-items: center;
  margin: 32px 0 16px;

  > mat-icon:first-child {
    margin-right: 8px;
  }
}

.spell-level-wrapper {
  padding-bottom: 64px;
}

app-spell-level-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.concentrating app-spell-card.concentration {
  opacity: 0.3;
}

.filter-active {
  background: radial-gradient(circle, var(--mat-sys-surface-variant) 60%, transparent 70%);
}

.filter-inactive {
  opacity: 0.3;
}
