<div style="max-width: 800px; margin: auto" [class.concentrating]="concentrating()">
  @if (character(); as char) {
    <app-character-card [character]="char"></app-character-card>

    <div style="display: flex; justify-content: center; margin-top: 4px">
      <button mat-icon-button aria-label="Diminuer les PV"
              (click)="changeHp('Diminuer les PV de', true, false)"
      >
        <mat-icon>heart_minus</mat-icon>
      </button>
      <button mat-icon-button aria-label="Augmenter les PV"
              (click)="changeHp('Augmenter les PV de', false, false)"
      >
        <mat-icon>heart_plus</mat-icon>
      </button>
      <button mat-icon-button aria-label="PV temporaires" style="opacity: 0.5"
              (click)="changeHp('PV temporaires',  false, true)"
      >
        <mat-icon>relax</mat-icon>
      </button>
    </div>

    @if (char.abilities.length > 0) {
      <h2 class="section-header">
        <mat-icon>flare</mat-icon>
        <span>Pouvoirs</span>
      </h2>

      @for (ability of char.abilities; track ability.id) {
        <app-ability-card [ability]="ability"
                          [usage]="char.abilityUsage[ability.id] || 0"
                          (usageChange)="setAbilityUsage(ability.id, $event)"
                          style="margin: 16px 0"
        ></app-ability-card>
      }
    }

    @let spellsByLevel = availableSpells();

    @if (spellsByLevel.length > 0) {
      <h2 class="section-header">
        <mat-icon>menu_book</mat-icon>
        <span style="flex-grow: 1">Sorts</span>
        @if (concentrating()) {
          <button mat-icon-button (click)="concentrating.set(false)"
                  aria-label="Afficher les sorts avec concentration ou non">
            <mat-icon>cognition</mat-icon>
          </button>
        } @else {
          <button mat-icon-button (click)="concentrating.set(true)"
                  aria-label="Afficher les sorts sans concentration uniquement">
            <mat-icon style="opacity: 0.3">cognition</mat-icon>
          </button>
        }
        @if (filterForm.controls.favorite.value) {
          <button mat-icon-button (click)="filterForm.controls.favorite.setValue(null)"
                  aria-label="Afficher les sorts favoris ou non">
            <mat-icon class="color-warn">favorite</mat-icon>
          </button>
        } @else {
          <button mat-icon-button (click)="filterForm.controls.favorite.setValue(true)"
                  aria-label="Afficher les sorts favoris uniquement">
            <mat-icon class="color-warn" style="opacity: 0.3">favorite</mat-icon>
          </button>
        }
        @if (filterForm.controls.prepared.value) {
          <button mat-icon-button (click)="filterForm.controls.prepared.setValue(null)"
                  aria-label="Afficher les sorts préparés ou non">
            <mat-icon class="color-primary">fact_check</mat-icon>
          </button>
        } @else {
          <button mat-icon-button (click)="filterForm.controls.prepared.setValue(true)"
                  aria-label="Afficher les sorts préparés uniquement">
            <mat-icon class="color-primary" style="opacity: 0.3">fact_check</mat-icon>
          </button>
        }
      </h2>

      @for (spellLevel of availableSpells(); track spellLevel.level; let first = $first) {
        <h2 class="spell-level-header" [class.first]="first">
          <span>Niveau {{ spellLevel.level }}</span>
          <app-slots-form [maxSlots]="spellLevel.slots"
                          [ngModel]="char.spellSlotBurns[spellLevel.level]"
                          (ngModelChange)="setSpellSlotBurns(spellLevel.level, $event)"
          ></app-slots-form>
        </h2>
        @for (spell of spellLevel.spells; track spell.id) {
          <app-spell-card [spell]="spell"
                          [spellChoice]="char.spellChoices[spell.id]"
                          (spellChoiceChange)="setSpellChoice(spell.id, $event)"
          ></app-spell-card>
        }
      }
    }
  } @else {
    <p>Personnage non trouvé</p>
  }
</div>
