@use '@angular/material' as mat;
@use 'theme-colors' as tc;
@use 'theming';
@use 'fonts';

$main-font: "Brygada 1918";

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: tc.$primary-palette,
      tertiary: tc.$tertiary-palette,
    ),
    typography: $main-font,
  ));

  &:not([dark-theme=true]) {
    @include theming.theme-overrides(light);
  }

  &[dark-theme=true] {
    color-scheme: dark;
    @include theming.theme-overrides(dark);
  }

  .mat-drawer-content {
    display: flex;
    flex-direction: column;

    > mat-toolbar {
      flex-shrink: 0;
    }

    > router-outlet + * {
      height: calc(100vh - var(--jdr-toolbar-height));
      overflow: hidden auto;
    }
  }

  &[sidenav=pinned] {
    .mat-drawer-content > router-outlet + * {
      border-top-right-radius: 24px;
    }
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $main-font, "Times New Roman", serif;
}

.hide-focus:focus {
  outline: 0 solid transparent;
}

.very-light-text {
  font-size: 14px;
  opacity: 0.2;
}

.creation-aid {
  font-style: italic;
  opacity: 0.5;
}

:root {
  --jdr-toolbar-height: 64px;

  @include mat.expansion-overrides((
    container-text-size: var(--mat-sys-body-medium-size),
  ));
  @include mat.sidenav-overrides((
    container-width: 200px,
  ));
}

@media (max-width: 599px) {
  :root {
    --jdr-toolbar-height: 56px;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 12px;
  }
}

@media (min-width: 599px) and (max-height: 599px) {
  :root {
    --jdr-toolbar-height: 48px;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 48px;
  }
}
