.slots-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.slot {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: none;

  &.available {
    background-color: #ffc400;
  }

  &.burnt {
    background-color: #5a3106;
  }
}
